<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>

		<!-- Parámetros de BD -->
		<!--<add key = "OLEDBConexion" value ="SUN3800_OLEDB"/>
		<add key = "BaseDatosConexion" value ="planificacion_db"/>
		<add key = "UsuarioConexion" value ="gtech"/>
		<add key = "PasswordConexion" value ="gtechJPS2013"/>-->
		<add key = "OLEDBConexion" value ="SUN490_OLEDB"/>
		<add key = "BaseDatosConexion" value ="planificacion_db"/>
		<add key = "UsuarioConexion" value ="lgarcia"/>
		<add key = "PasswordConexion" value ="lgarcia.2020"/>

		<!-- Parámetros para envío de correos -->
		<add key = "Host" value ="smtp.office365.com"/>
		<add key = "Port" value ="587"/>
		<add key = "EnableSsl" value ="True"/>
		<add key = "MailAccount" value ="notification@jps.go.cr"/>
		<add key = "MailPassword" value ="123456.JPS.TI"/>

		<!-- Parámetros generales -->
		<!-- <add key ="Mode" value ="Daily"/>-->
		<add key = "Mode" value ="Interval"/>
		<add key = "ScheduledTime" value = "15:08"/>
		<add key = "IntervalMinutes" value = "2"/>
		<add key = "MuestraLog" value = "True"/>
		<add key = "PathLog" value = "C:\"/>
		<add key = "LogName" value = "NotificacionesCorreo"/>
		<add key = "ServiceDescription" value = "Este servicio envía notificaciones por correo, de forma automática, de acuerdo a la información devuelta por un procedimiento almacenado."/>
		<add key = "ServiceDisplayName" value = "Envío de Notificaciones por Correo"/>
		<add key = "ServiceName" value = "EnvioNotificacionesCorreo"/>
	</appSettings>
</configuration>