<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!-- Parámetros de BD -->
		<add key = "OLEDBConexion" value ="SUN3800_OLEDB"/>
		<add key = "BaseDatosConexion" value ="planificacion_db"/>
		<add key = "UsuarioConexion" value ="gtech"/>
		<add key = "PasswordConexion" value ="gtechJPS2013"/>
		<!--<add key = "OLEDBConexion" value ="SUN490_OLEDB"/>
		<add key = "BaseDatosConexion" value ="planificacion_db"/>
		<add key = "UsuarioConexion" value ="lgarcia"/>
		<add key = "PasswordConexion" value ="lgarcia.2020"/>-->

		<!-- Parámetros para envío de correos -->
		<add key = "Host" value ="smtp.office365.com"/>
		<add key = "Port" value ="587"/>
		<add key = "EnableSsl" value ="True"/>
		<add key = "MailAccount" value ="notification@jps.go.cr"/>
		<add key = "MailPassword" value ="123456.JPS.TI"/>

		<!-- Parámetros generales -->
		<!-- <add key = "Mode" value ="Interval"/>-->
		<add key ="Mode" value ="Daily"/>
		<add key = "ScheduledTime" value = "02:00"/>
		<add key = "IntervalMinutes" value = "1"/>
		<add key = "MuestraLog" value = "False"/>
		<add key = "PathLog" value = "C:\"/>
		<add key = "LogName" value = "NotificacionesCorreo"/>
		<add key = "ServiceDescription" value = "Este servicio envía notificaciones por correo, de forma automática, de acuerdo a la información devuelta por un procedimiento almacenado."/>
		<add key = "ServiceDisplayName" value = "Envío de Notificaciones por Correo"/>
		<add key = "ServiceName" value = "EnvioNotificacionesCorreo"/>
	</appSettings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
